# Managed from Ansible
interface={{ ansible_facts['default_ipv4'].interface }}
#except-interface=lo
#bind-interfaces

# Wildcard entries (if any)
address=/.{{ pihole_local_domain }}/{{ pihole_localdns_wildcard_ipv4 }}
address=/.{{ pihole_local_domain }}/{{ pihole_localdns_wildcard_ipv6 }}
rebind-domain-ok=/.{{ pihole_local_domain }}/

# Block for forwarding to Samba AD DC DNS server (if any)
{% if samba_present %}
server=/{{ samba_realm }}/::1#5353
server=/{{ samba_realm }}/127.0.0.1#5353
{% endif %}
