---
# tasks file for waal70.pihole
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/{{ ansible_vault }}/{{ ansible_role_name }}-vars.yml"
      skip: true
# First, make sure the system is up to date
- name: Ensure apt is up-to-date
  ansible.builtin.apt:
    upgrade: full
    cache_valid_time: 3600

# samba-detection will set boolean "samba_present" and reconfigure smb.conf if present
# it will not restart services, in order not to mess with name resolution during install
- name: Detect the presence of a Samba-based Active Directory on this system
  ansible.builtin.import_tasks: samba-detection.yml

- name: Include pi-hole installation and configuration tasks
  ansible.builtin.import_tasks: pi-hole.yml

- name: Include tasks to add unbound to pi-hole
  ansible.builtin.include_tasks: install-unbound.yml
  when: pihole_enable_unbound

# In pi-hole web interface, this is known as the 'local DNS'
# As this may contain sensitive info, the src is the private repository
# Include yours in pihole_localdns_newlist or in the secrets include

- name: Wait a little to let new settings settle in, before proceeding to DNS configuration
  ansible.builtin.wait_for:
    timeout: 5
  delegate_to: localhost

- name: Get currently configured local DNS entries in Pi-hole
  ansible.builtin.uri:
    url: "http://{{ ansible_host }}/api/config/dns/hosts"
    method: GET
    status_code: 200
  register: pihole_localdns

- name: Bulk get rid of current local DNS entries in Pi-hole. Also set authoritative domain to 'local' to avoid issues.
  ansible.builtin.uri:
    url: "http://{{ ansible_host }}/api/config"
    method: PATCH
    body_format: json
    body: |
        {
           "config": {
             "dns": {
               "hosts": [],
               "domain": "local"
               }
             }
         }
    validate_certs: false
  when: pihole_localdns.json is defined and (pihole_localdns.json | length) > 0

- name: Bulk set new domains. Set authoritative domain to {{ pihole_local_domain }}
  ansible.builtin.uri:
    url: "http://{{ ansible_host }}/api/config"
    method: PATCH
    body_format: json
    body: |
       {
          "config": {
            "dns": {
              "domain": "{{ pihole_local_domain }}",
              "hosts": {{ pihole_localdns_newlist | to_json }}
              }
            }
        }
    validate_certs: false
  register: pihole_dnsdomain
  retries: 3
  delay: 5
  when: pihole_localdns_newlist is defined and (pihole_localdns_newlist | length) > 0

- name: Report out to user
  ansible.builtin.debug:
    msg: "Local DNS entries added: {{ pihole_localdns_newlist | length }}"
  when: pihole_localdns_newlist is defined and (pihole_localdns_newlist | length) > 0
