---
# tasks file for waal70.pihole
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/{{ ansible_vault }}/{{ ansible_role_name }}-vars.yml"
      skip: true
# First, make sure the system is up to date
- name: Ensure apt is up-to-date
  ansible.builtin.apt:
    upgrade: full
    cache_valid_time: 3600

# samba-detection will set boolean "samba_present" and reconfigure smb.conf if present
# it will not restart services, in order not to mess with name resolution during install
- name: Detect the presence of a Samba-based Active Directory on this system
  ansible.builtin.import_tasks: samba-detection.yml

- name: Include pi-hole installation and configuration tasks
  ansible.builtin.import_tasks: pi-hole.yml

- name: Include tasks to add unbound to pi-hole
  ansible.builtin.include_tasks: install-unbound.yml
  when: pihole_enable_unbound
