---
- name: Check for existence of smb.conf
  ansible.builtin.stat:
    path: /etc/samba/smb.conf
  register: smb_conf

- name: Check for status of samba-ad-dc service
  ansible.builtin.systemd_service:
    name: samba-ad-dc
  register: service_status
  changed_when: false

- name: "Set flag that tells us samba is there ore not"
  ansible.builtin.set_fact:
    samba_present: "{{ (smb_conf.stat.exists and service_status.status.ActiveState == 'active') | bool }}"

- name: Retrieve the samba realm
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      samba-tool domain info 127.0.0.1 | grep Domain | cut -c 20-
  register: domain_info
  changed_when: domain_info.rc != 0

- name: Set fact for samba realm
  ansible.builtin.set_fact:
    samba_realm: "{{ domain_info.stdout }}"

- name: "Tell user the samba realm"
  ansible.builtin.debug:
    msg: "This system runs a Samba AD DC. Its realm is {{ samba_realm }}"
  when: samba_present

# If pihole is to run on this system, the samba ad is not forwarding, but receiving forwards
# That is why we no longer need the forward stanza in smb.conf
# Be careful not to restart samba until after pihole is proven working, or you will have
# name resolution issues!
# If running this while pihole is already installed, this will not change anything
- name: Comment out the dns forwarder in smb.conf
  ansible.builtin.replace:
    path: /etc/samba/smb.conf
    regexp: '^.*dns forwarder ='
    replace: '        # dns forwarder ='
  when: samba_present

# In order not to conflict with pihole, samba needs to be relocated to a different port
- name: "Set the dns port in smb.conf"
  ansible.builtin.lineinfile:
    path: /etc/samba/smb.conf
    regexp: '^.*dns port'
    line: "        dns port = {{ samba_dns_port }}"
    insertbefore: '^.*bind interfaces'
  notify: Restart samba-ad-dc
  when: samba_present
